body {
    background-color: peru;
    color: black;
    font-family: Verdana, Tahoma, Arial, sans-serif;
}

#content {
    background-image: url(foday.jpg);
    background-position: right;
    background-repeat: repeat-x;
    color: blue;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 200%;
    text-indent: 1em;
}

.myfavorite {
    color: blueviolet;
}

footer {
    font-size:.80em;
    font-style: italic;
    text-align: center;
    
}

h1 {
    font-family: Georgia, Time New Roman, Didot serif;
    text-transform: uppercase;
}

h2, h3 {
    font-family: Time New Roman, Georgia, Baskerville serif;
}

ul {
    list-style-type: decimal;
}

p {
    text-indent: 2em;
}

a {
    font-size: 120%;
    font-weight: bold;
    text-decoration: none;
}

