body {
    background-color: #FF9999;
    background-image: linear-gradient(to bottom, #FFFFFF, #00FF00);
    background-repeat: no-repeat;
    color: black;
    font-family: Verdana, Tahoma, Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 80%;
}

h1 {
    
    font-family: Georgia, Time New Roman, Didot serif;
    margin: 0;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}



h2, h3 {
    background-color: #FFFF99;
    box-shadow: 3px 3px 3px #333;
    color: firebrick;
    font-family: Time New Roman, Georgia, Baskerville serif;
    margin-top: 100px;
}

header {
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 0;
    width: 100%;
}

#content {
    background-image: url(foday.jpg);
    background-position: right;
    background-repeat: repeat-x;
    box-shadow: 3px 3px 3px #333;
    color: blue;
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    float: left;
    list-style: none;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    width: 150px;
    
    
}

p {
    font-family: Arial,sans-serif;
}

main {
    margin-left: 165px;
    padding: 10px 10px 10px 10px ;
    width: 80%;
}

.myfavorite {
    color: blueviolet;
}

footer {
    font-size:.80em;
    font-style: italic;
    text-align: center;
    
}

ul {
    list-style-type: decimal;
}

a {
    border: 1px solid #000000;
    font-size: 120%;
    font-weight: bold;
    margin: 0 0 5px 5px;
    text-decoration: none;
}



